

/* Подвал сайта */
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  color: white;
}

.footer__columns {
  width: 90%;
  margin: 60px auto 40px;
  display: flex;
  justify-content: space-around;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  text-align: start;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column_content_info {
  margin: 0;
  text-align: left;
  align-items: flex-start;
}

.footer__column-links {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 16px;
  list-style: none;
}

.footer__column-link {
  margin-top: 20px;
  margin-bottom: 16px;
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
