/* Секция техники*/
.techniques {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0px auto;
}

.section-title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.section-subtitle {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 920px;
  margin: 0px auto 100px;
}

.cards__item {
  width: 240px;
  margin-top: 60px;
  margin-right: 100px;
}

.cards__item:nth-child(3) {
  margin-right: 0px;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  margin: 0px 40px;
}

.cards__title {
  margin: 43px 0px 16px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.cards__description {
  margin: 0;
  margin-top: 20px;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}
