
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
/* Блок Header */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  z-index: -5;
}

.header__logo-pic {
  width: 228px;
  height: 32px;
}

.header__logo-pic_pos {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header_title {
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 5;
}

.header_subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header_main-illustration {
  width: 765px;
  height: 608px;
}

.header_main-illustration_pos {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.header__square-pic_pos {
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: -2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}
/* Основное содержимое страницы */
.content {
  display: flex;
  flex-direction: column;
}

.description {
  display: flex;
  justify-content: center;
}

.description__container {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
/* Главные проблемы в обучении */
.two-columns__brief {
  display: flex;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  color: #2f80ed;
}
/* Основной текст в таблице о главных проблемах в обучении */
.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  white-space: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
/* Секция цифры и факты */
.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  display: flex;
  justify-content: center;
}

.section-title_pos {
  margin-top: 100px;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_pos {
  margin-top: 20px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0px auto 100px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table-heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.table-text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
/* Секция Метод Фейнмана */
.feynman {
  position: relative;
  height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  z-index: -2;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  text-align: center;
}

.feynman__title_pos {
  margin-top: 100px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__subtitle_pos {
  margin-top: 70px;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__link_pos {
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__img {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 867px;
  height: 637px;
  z-index: -1;
}
/* Секция Принципы Обучения от Джоша Кауфмана */
.kaufman {
  background-color: black;
  z-index: -2;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.section-title__theme_dark {
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  text-align: center;
}

.section-title__theme_dark_pos {
  margin-top: 90px;
  margin-bottom: 0px;
}

.section-subtitle__theme_dark {
  color: white;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.section-subtitle__theme_dark_pos {
  margin-top: 20px;
}
/* Таблица с принципами обучения */
.table__theme_dark {
  margin: 0 auto 90px;
  display: flex;
  flex-flow: row wrap;
  width: 1100px;
  justify-content: space-between;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table-heading__theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table-text__theme_dark {
  margin-top: 20px;
  line-height: 1.12;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0px;
  right: -210px;
  z-index: -1;
}
/* Подвал сайта */
.footer {
  background-color: black;
  min-height: 350px;
  position: relative;
  text-align: center;
}

.footer__columns {
  color: white;
  width: 90%;
  flex-basis: 711px;
  display: inline-flex;
  flex-direction: row;
  min-height: 250px;
  margin-top: 60px;
  margin-bottom: 40px;
  justify-content: flex-end;
  position: relative;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 0;
  height: 100%;
}

.footer__logo-pic {
  width: 228px;
  height: 32px;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  text-align: start;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  height: 100%;
  right: 300px;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
  text-decoration: none;
  color: white;
}

.footer__column-logo {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
